<div class="site-title-wrapper">
    <div class="site-title-column">
        <h1 class="title site-title">Casos de Éxito</h1>
    </div>
    <div class="site-title-column">
        <h3 class="title site-subtitle">Casos de <strong>Éxito</strong></h3>
        <span class="motto">Impactar positivamente entornos y realidades al rededor del mundo mejorando la calidad de
            vida de los ciudadanos ¡Así lo hemos logrado!</span>
    </div>
</div>

<div id="cases_wrapper" class="module cases-wrapper">
    <div class="row">
        <div class="row-inner">
            <case-studies></case-studies>
        </div>
    </div>
</div>
