.pslider-container {
    .slider-controller-container {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 0%, 30%);
        .slider-options {
            --size-slider: 400px;
            position: absolute;
            width: var(--size-slider);
            height: var(--size-slider);
            border: 1px dashed white;
            border-radius: 50%;
            left: calc(50% - var(--size-slider) / 2);
            top: calc(50vh - var(--size-slider) / 2);
            .slider-option {
                --size-slider-option: 23px;
                width: var(--size-slider-option);
                height: var(--size-slider-option);
                position: absolute;
                cursor: pointer;
                z-index: 10;
                border-radius: 50%;
                
    z-index: 9999999;
                background-color: var(--headerTextColor);
                left: calc(50% - var(--size-slider-option) / 2);
                top: calc(50% - var(--size-slider-option) / 2);

                &.selectedOption {
                    margin: 1px solid var(--headerTextColor);
                    background-color: hsl(0, 0%, 50%, 50%);
                    &::after {
                        content: "";
                        --border-slider-option: 6px;
                        width: calc(100% + var(--border-slider-option) - 2px);
                        height: calc(100% + var(--border-slider-option) - 2px);
                        border-radius: 50%;
                        border: 1px solid var(--headerTextColor);
                        position: absolute;
                        left: calc(0px - var(--border-slider-option) / 2);
                        top: calc(0px - var(--border-slider-option) / 2);
                    }
                }
            }
            .pslider-tooltip {
                --sizeTooltip: 300px;
                visibility: hidden;
                transform: scale(0);
                overflow: hidden;
                width: var(--sizeTooltip);
                height: var(--sizeTooltip);
                position: absolute;
                top: calc(50% - var(--sizeTooltip) / 2);
                left: calc(50% - var(--sizeTooltip) / 2);
                display: grid;
                place-content: center;
                &.selectedOption {
                    text-align: right;
                    visibility: visible;
                    overflow: visible;
                    transform: scale(1);
                    .content-links {
                        flex-direction: column;
                        z-index: 2;
                        padding: 0.35rem;
                        letter-spacing: 0.1em;
                        color: hsl(0deg 0% 100%);
                        * {
                            padding: 0.35rem;
                            margin: 0.35rem;
                        }
                    }
                }
            }
        }
    }
}

.dot-circle-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .dot-circle {
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 628px;
    height: 628px; */ 
    transform: translate(-50%, -50%);
  }
  
  .ciclegraph {
    position: relative;
    width: 500px;
    height: 500px;
    margin: calc(100px / 2 + 0px);
  }
  
  .ciclegraph:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid rgb(255, 108, 43);
    width: calc(100% - 2px * 2);
    height: calc(100% - 2px * 2);
    border-radius: 50%;
  }
  
  .ciclegraph .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: calc(-100px / 9);
    background: rgb(255, 108, 43);
    border-radius: 50%;
    cursor: pointer;
    border: none;
  }

  .main-rotator {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
