<ng-container>
    <div class="pslider-container" [style.width]="width" [style.height]="height">
        <div class="slider-content">
            <div *ngFor="let option of sliderItem; index as i" 
            class="image" 
            [style.transform]="'translate('+ -100 * selectedOption +'%,0px)'">
                <img [src]="option.Image" >
            </div>
        </div>
        <div class="slider-controller-container">
            <div class="slider-options">
                <div class="slider-option" 
                *ngFor="let option of sliderItem; index as i"
                [ngClass]="{'selectedOption':selectedOption == i}"
                (click)="newOptionSelected(i)"
                [style.transform]="'translate(' + math.cos( ((i*360/ sliderItem.length) - 90 )  * 2 * math.PI / 360) * 200 +'px,' + math.sin(((i*360/ sliderItem.length) - 90) * 2 * math.PI / 360)*  200 + 'px)'"
                >

                <div class="pslider-tooltip ">
                    <div class="content-links">
                        <p><strong>{{option.title}}</strong></p><p>{{option.text}}</p>
                        <a class="action action-primary"  target="_blank">{{option.button.text}}</a>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>
</ng-container>