<ng-container *ngFor="let item of data">
    <article class="profile" [ngClass]="{'translate': translateFlag}" [style.transform]="movementCarousel()">
        <div class="summary-wrapper">
            <figure class="image"><img src="{{item.better_featured_image.source_url}}" alt="{{item.better_featured_image.alt_text}}" />
            </figure>
            <div class="summary">
                <h4 class="name">{{item.title.rendered}}</h4>
                <div class="position"><span [outerHTML]="item.excerpt.rendered"></span></div>
            </div>
            <div class="content-links">
                <button class="action action-primary" (click)="showResume(item.id)">Ver más</button>
            </div>
        </div>
    </article>
</ng-container> 
<!-- <div *ngIf="selectedOption" class="absolute person-container" [ngClass]="{'show':selectedOption.show}">
    <div class="close" (click)="selectedOption.show=false">&#10006;</div>
    <div class="person-content" *ngIf="selectedOption.better_featured_image.source_url">
        <div class="photo" [style.background-image]="'url(selectedOption.better_featured_image.source_url)'"></div>
        <div class="content">
            <h4 class="name">{{selectedOption.title.rendered}}</h4>
            <div class="position">{{selectedOption.excerpt.rendered}}</div>
            <div class="text">{{selectedOption.content.rendered}}</div>
        </div>
        <div class="links">
            <div class="icon-link">
                <a href="mailto:{{selectedOption.acf.email_equipo}}" target="_blank" rel="noopener noreferrer"><img src="assets/images/svgs/icon-email-circle.svg" alt="email"></a>
            </div>
            <div class="icon-link">
                <a href="{{selectedOption.acf.linkedin_equipo}}" target="_blank"><img src="assets/images/svgs/icon-linkdin-in-circle.svg" alt="linkedIn"></a>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="controls"> -->
    <div class="arrow arrowleft" (click)="step(1, true)">
        <img src="assets/images/svgs/arrowIcon.png" alt="left">
    </div>
    <div class="arrow arrowright" (click)="step(-1,true)">
        <img src="assets/images/svgs/arrowIcon.png" alt="right">
    </div>
    <!-- </div> -->