.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.presencia .stats {
    // max-width: 790px;
    // margin: auto;
    // display: grid;
    // grid-template-columns: max-content max-content;
    .title {
        place-self: center;
    }
    .items-list {
        transform-origin: center;
    }
}

.relation-map-clients {
    --clients-heigth: 55px;
    display: grid;
    grid-template-rows: 1fr var(--clients-heigth);
    .hmap {
        height: 100%;
    }
    .hclients {
        height: 100%;
    }
}

.h100-7em {
    height: calc(100% - 7.1em);
}