.title {
    margin: 0;
    line-height: 120%;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.site-title {
    &-wrapper {
        width: 100%;
        height: 23.76vh;

        .site-title,
        .site-subtitle {
            position: relative;
            z-index: 2;
            margin-bottom: 0;
            font-weight: 600;
            color: $c-black;

            strong {
                font-weight: inherit;
                color: $primary-color;
            }
        }

        .site-title {
            color: $primary-color;
            font-size: 3.5vmin;

            @include mask {
                top: 100%;
                left: 0;
                width: 27px;
                height: 5px;
                background-color: $primary-color;
            }
        }

        .site-subtitle {
            margin-bottom: 0.5rem;
        }

        .motto {
            display: block;
            position: relative;
            z-index: 2;
            padding: 0 $site-padding;
            letter-spacing: 1.2px;
            font-size: 0.75rem;
            text-align: center;
            color: $secondary-color;
        }
    }

    @include respond-to($vp-mid) {
        &-wrapper {
            @include flex-all($align: center);
            position: relative;

            &:before,
            &:after {
                content: "";
                position: absolute;
                z-index: 1;
            }
    
            &:before {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: 0 0 100px rgba($c-black, 0.08);
                background: linear-gradient(to bottom, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 100%);
            }
    
            &:after {
                @include bg-cover;
                // top: -190px;
                top: -350px;
                left: -293px;
                z-index: 1;
                background-image: url(assets/images/svgs/circle-bg__header.svg);
                width: 700px;
                height: 700px;
                transform-origin: center center;
                transition: transform 0.5s;
                animation: rotate-center 50s infinite linear;
            }
        }

        &-column {
            @include flex-all(column, center);
            height: 100%;

            &:first-child {
                flex: none;
                justify-content: center;
                width: 17vw;
                padding: 0 0 0 0.625rem;
                text-align: left;

                .title {
                    margin-top: 1rem;
                }
            }

            &:last-child {
                flex: 1;
                padding: 0;
                text-align: center;
            }
        }
    }

    @include respond-to($site-width) {
        &-wrapper {
            height: 20.76vh;
    
            &:after {
                top: -280px;
                left: -178px;
            }

            .motto {
                font-size: 0.875rem;
            }

            .site-title {
                font-size: calc(2.7vmin + 1em);
            }
        }

        &-column {
            &:first-child {
                justify-content: center;
                width: calc(25vw - (#{$site-padding} * 2));
                padding: 0 $site-padding;

                .title {
                    margin-top: 0;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1600px) {
    .site-title {
        &-wrapper {
            height: 110px;
            background-color: rgba($c-grey-mid, .5);

            &:before,
            &:after { content: none; }
            
            .motto {
                line-height: 1.7;
            }
        }

        &-column {
            &:first-child {
                position: absolute;
                bottom: calc(100% + 41px);
                right: calc(#{$site-padding} / 3);
                z-index: 99;
                width: auto;
                height: auto;
                padding: 0;

                .title {
                    font-size: 2.85vmin;

                    &:before { content: none; }
                }
            }
        }
    }
}
