<section class="news featured-news content" aria-labelledby="featured_news_header">
    <h2 id="featured_news_header" class="news-title">
        <span class="first-line">Noticias</span>
        <span class="second-line">Destacadas</span>
    </h2>

    <div class="content-list">
        <article class="item" aria-labelledby="featured_item_header_1">
            <div class="item-image">
                <img src="assets/images/blog/news-2.jpg" alt="COVID19 ¿Motor de la innovación en el Sector Salud?" />
            </div>
            <div class="item-summary">
                <time>Abril 1, 2021</time>
                <h3 id="featured_item_header_1" class="post-title"><a routerLink="/blog/covid19-motor-de-la-innovacion-en-el-sector-salud" routerLinkActive="active">COVID19 ¿Motor de la innovación en el Sector Salud?</a></h3>
            </div>
        </article>
        <article class="item" aria-labelledby="featured_item_header_2">
            <div class="item-image">
                <img src="assets/images/blog/news-3.jpg" alt="¿Por qué es indispensable para tu negocio dar el paso a la omnicanalidad?" />
            </div>
            <div class="item-summary">
                <time>Abril 1, 2021</time>
                <h3 id="featured_item_header_2" class="post-title"><a routerLink="/blog/por-que-es-indispensable-para-tu-negocio-dar-el-paso-a-la-omnicanalidad" routerLinkActive="active">¿Por qué es indispensable para tu negocio dar el paso a la omnicanalidad?</a></h3>
            </div>
        </article>
        <article class="item" aria-labelledby="featured_item_header_3">
            <div class="item-image">
                <img src="assets/images/blog/news-4.jpg" alt="A buen emprendedor decisiones valientes 2021. ¡Listos para innovar!" />
            </div>
            <div class="item-summary">
                <time>Abril 1, 2021</time>
                <h3 id="featured_item_header_3" class="post-title"><a routerLink="/blog/a-buen-emprendedor-decisiones-valientes" routerLinkActive="active">A buen emprendedor decisiones valientes 2021. ¡Listos para innovar!</a></h3>
            </div>
        </article>
    </div>
</section>