<section class="list-news">
    <div class="list-news__header">
        <h2 id="featured_news_header">
            <span class="first-line main-color">Más recientes:</span>
        </h2>
    </div>

    <div class="items-list" *ngFor="let item of data">
        <article class="item" aria-labelledby="list_news_header_1">
            <figure class="item-image">
                <img src="{{item.better_featured_image.source_url}}" alt="{{item.better_featured_image.alt_text}}" />
            </figure>
            <div class="item-summary">
                <time>{{item.date | date: 'MMM d, y' }}</time>
                <h2 id="list_news_header_1" class="post-title"><a [routerLink]="['/blog/', item.id]" routerLinkActive="active">{{item.title.rendered}}</a></h2>
                <div [outerHTML]="item.excerpt.rendered"></div>
                <div class="item-author" *ngFor="let autor of item.acf.relacion">
                    <img src="{{autor.acf.autor_imagen.url}}" alt="{{autor.post_title}}"/>
                    <div class="author">
                        <span class="author-name">{{autor.post_title}}</span>
                        <span class="author-position">{{autor.acf.autor_posicion}}</span>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>