<div class="case-tabs" *ngIf="CASESTUDIES">
    <div class="case-tabs-container">
        <div class="case-tabs-body">
            <ng-container *ngFor="let caseEstudy of CASESTUDIES; index as i">
                <article class="case-tab-option {{caseEstudy.chatID}}" [ngClass]="{'selected':selected==i}">
                    <div class="case-content-content">
                        <div class="case-content-summary">
                            <h3 class="case-name">{{caseEstudy.tabName}}</h3>
                            <h5 class="case-company">{{caseEstudy.company}}</h5>
                            <div class="case-text" [innerHTML]="caseEstudy.text"></div>
                            <div class="case-content-links">
                                <a href="{{caseEstudy.link.link}}" target="_blank" class="action action-primary">{{caseEstudy.link.text}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="case-content-image">
                        <div class="case-avatar">
                            <img [src]="caseEstudy.avatar.src" alt="{{caseEstudy.tabName}} Personaje" />
                        </div>
                        <div class="case-image">
                            <img [src]="caseEstudy.imagen.src" alt="{{caseEstudy.tabName}} Portada" />
                        </div>
                    </div>
                </article>
            </ng-container>
        </div>
        <ul class="case-tab-list-controller" role="tablist">
            <ng-container *ngFor="let caseEstudy of CASESTUDIES;index as i">
                <li class="case-tab" (click)="selectNewTab(i); SiblingService.sendClick(caseEstudy.chatID)">{{caseEstudy.tabName}}</li>
            </ng-container>
        </ul>
    </div>
</div>