<div class="tabs">
    <ul class="tab-list" role="tablist">
        <li class="tab" id="tab_1">Carolina</li>
        <li class="tab" id="tab_2">Doctora Clara</li>
        <li class="tab" id="tab_3">Ariel</li>
        <li class="tab" id="tab_4">Gaby</li>
        <li class="tab" id="tab_5">Becky</li>
    </ul>

    <article id="tab_panel_1" class="tab-panel" aria-labelledby="tab_panel_header_1">
        <div class="content-panel">
            <div class="content-column">
                <div class="content-summary">
                    <h3 class="name" id="tab_panel_header_1">Carolina</h3>
                    <h5 class="company">Ayuntamiento de Almendralejo</h5>
                    <div class="text"><p>Carolina, brinda respuestas automáticas a los ciudadanos; está basada en la tecnología de Inteligencia artificial, y el desarrollo de motores de lenguaje natural, que le permite al cliente brindar una atención automatizada, pero al mismo tiempo humanizada ya que nuestros asistentes virtuales tienen la habilidad de interpretar intencionalidad.</p><p>Esta tecnología ha ganado la versión X de los Premios CNIS en España en la categoría de Participación Ciudadana y al mismo tiempo, nos ha permitido mejorar la eficacia y eficiencia en la atención ciudadana, optimizar los procesos, ahorrar costos y además lograr la satisfacción de los ciudadanos.</p></div>
                    <div class="content-links">
                        <a href="" class="action action-primary">Quiero hablar con Carolina</a>
                    </div>
                </div>
            </div>
            <div class="content-column">
                <div class="avatar">
                    <img src="assets/images/casos/carolina.png" alt="Carolina Personaje" />
                </div>
                <div class="image">
                    <img src="assets/images/casos/image-carolina.jpg" alt="Carolina Portada" />
                </div>
            </div>
        </div>   
    </article>

    <article id="tab_panel_2" class="tab-panel" aria-labelledby="tab_panel_header_2">
        <div class="content-panel">
            <div class="content-column">
                <div class="content-summary">
                    <h3 class="name" id="tab_panel_header_2">Doctora Clara</h3>
                    <h5 class="company">Secretaria de Salud de Bogotá</h5>
                    <div class="text"><p><strong>Plataforma de atención ciudadana omnicanal</strong> que facilita la gestión y centralización de pacientes positivos para COVID19 y sus contactos cercanos, de esta manera permite por medio de la comunicación proactiva y eficiente entre el <strong>ciudadano</strong> y la administración el conocimiento y control de los centros epidemiológicos.</p><p>La Doctora Clara realiza alrededor de <strong>15.000 llamadas diarias</strong> optimizando el proceso de triaje  a los pacientes con sintomatología y adaptándose a la tecnología con la que cuente cada usuario.</p><p><strong>¡Innovación en el sector salud!</strong></p></div>
                    <div class="content-links">
                        <a href="" class="action action-primary">Quiero hablar con Doctora Clara</a>
                    </div>
                </div>
            </div>
            <div class="content-column">
                <div class="avatar">
                    <img src="assets/images/casos/clara.png" alt="Doctora Clara Personaje" />
                </div>
                <div class="image">
                    <img src="assets/images/casos/image-clara.jpg" alt="Doctora Clara Portada" />
                </div>
            </div>
        </div>   
    </article>

    <article id="tab_panel_3" class="tab-panel" aria-labelledby="tab_panel_header_3">
        <div class="content-panel">
            <div class="content-column">
                <div class="content-summary">
                    <h3 class="name" id="tab_panel_header_3">Ariel</h3>
                    <h5 class="company">Banco Nacional de Panamá</h5>
                    <div class="text"><p>El <strong>asistente virtual</strong> Ariel hace  parte del <strong>plan estratégico de transformación digital</strong> de los canales de atención al usuario del Banco Nacional de Panamá.</p><p> Ariel: “Asistente de Respuesta Interactiva en Línea” hace parte de una <strong>plataforma de inteligencia artificial</strong> diseñada para generar conversaciones en vivo por medio de diferentes canales adaptados a las preferencias de los usuarios facilitando y optimizando la labor de los colaboradores y por ende los recursos financieros.</p><p><strong>¡Transformación digital para el sector financiero!</strong></p></div>
                    <div class="content-links">
                        <a href="" class="action action-primary">Quiero hablar con </a>
                    </div>
                </div>
            </div>
            <div class="content-column">
                <div class="avatar">
                    <img src="assets/images/casos/ariel.png" alt="Ariel Personaje" />
                </div>
                <div class="image">
                    <img src="assets/images/casos/image-ariel.jpg" alt="Ariel Portada" />
                </div>
            </div>
        </div>   
    </article>

    <article id="tab_panel_4" class="tab-panel" aria-labelledby="tab_panel_header_4">
        <div class="content-panel">
            <div class="content-column">
                <div class="content-summary">
                    <h3 class="name" id="tab_panel_header_4">Gaby</h3>
                    <h5 class="company">Cámara de Comercio de Barranquilla</h5>
                    <div class="text"><p>Dentro de nuestra <strong>alianza estratégica</strong> con Cámara de Comercio de Barranquilla nace Gaby, quien con una identidad completamente tropicalizada al contexto que pertenece se convierte en un <strong>asistente virtual humanizado y cercano a los usuarios.</strong></p><p>Gaby genera respuesta a 20 trámites o servicios de manera <strong>automatizada</strong> y de forma <strong>omnicanal</strong> unificando los canales ofrecidos a la ciudadanía y con un tráfico de más de <strong>4.450.000 mensajes.</strong></p></div>
                    <div class="content-links">
                        <a href="" class="action action-primary">Quiero hablar con Gaby</a>
                    </div>
                </div>
            </div>
            <div class="content-column">
                <div class="avatar">
                    <img src="assets/images/casos/gaby.png" alt="Gaby Personaje" />
                </div>
                <div class="image">
                    <img src="assets/images/casos/image-gaby.jpg" alt="Gaby Portada" />
                </div>
            </div>
        </div>   
    </article>

    <article id="tab_panel_5" class="tab-panel" aria-labelledby="tab_panel_header_5">
        <div class="content-panel">
            <div class="content-column">
                <div class="content-summary">
                    <h3 class="name" id="tab_panel_header_5">Becky</h3>
                    <h5 class="company">Instituto de Becas y Crédito Educativo de Sonora, México</h5>
                    <div class="text"><p>Becky es una <strong>asistente virtual</strong> enfocada en la <strong>atención ciudadana</strong> y para dar respuesta en el sector académico.</p><p>Los usuarios pueden conocer el estatus de alguna solicitud ya sea beca y/o crédito realizada en el instituto.Esto permite al ciudadano obtener esta <strong>información de manera rápida y segura</strong>.</p></div>
                    <div class="content-links">
                        <a href="" class="action action-primary">Quiero hablar con Becky</a>
                    </div>
                </div>
            </div>
            <div class="content-column">
                <div class="avatar">
                    <img src="assets/images/casos/becky.png" alt="Becky Personaje" />
                </div>
                <div class="image">
                    <img src="assets/images/casos/image-becky.jpg" alt="Becky Portada" />
                </div>
            </div>
        </div>   
    </article>
</div>