.chat-widget-input-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 80px;
  align-items: center;
  margin: 0;
  background-color: #ECECEE;
  border-radius: 0px 0px 10px 10px;
}

.chat-widget-input-container.showOptions{
  grid-template-columns: 1fr 160px;
}
.buttons-options.showOptions{
  grid-template-columns: repeat(4, 1fr);
}

.chat-widget-input {
  border-radius: 0px 0px 0px 10px;
  border: none;
  width: 100%;
  height: calc(100% - 4px);
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 0px 0px 1em;
}
.chat-widget-input:focus {
  outline: none;
}

.buttons-options { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-content: center;
  align-items: center; 
}

.buttons-options .send {
  background-image: url(./../../../assets/sendIcon.svg);
}
.buttons-options .attached {
  background-image: url(./../../../assets/attachedIcon.png);
}
.buttons-options .emojiIcon {
  background-image: url(./../../../assets/emojiIcon.svg);
}
.backgroundImage{
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  justify-self: center;
}

.buttons-options .send:hover {
  cursor: pointer;
}
.option-showed{
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 10;
  display: flex;
  margin: 0px 5px;
}
.buttons-options .options {
  
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin: 0px 0px 0px 12px;
}
.buttons-options .options .line {
  transition: width 0.3s ease-out;
  height: 20%;
  background: hsl(0, 0%, 0%);
  display: block;
  margin: 10% 0px;
  border-radius: 50vmin;
}

.buttons-options .options :nth-child(1) {
  width: 70%;
}
.buttons-options .options :nth-child(2) {
  width: 35%;
}
.buttons-options .options :nth-child(3) {
  width: 55%;
}
.buttons-options *:hover {
  cursor: pointer;
}
.buttons-options .options:hover .line {
  width: 80%;
}
.options.showOptions .line{
  transition: 200ms ease transform;
  transform: rotateZ(0deg) translatex(0%);
}
.options.showOptions .line.line1 {
  width: 90%;
  transform: rotateZ(-45deg) translatex(-50%);
}
.options.showOptions .line.line2{
  width: 0%;
}

.options.showOptions .line.line3 {
  width: 90%;
  transform: rotateZ(45deg) translatex(-50%);
}

