.laboratorio-wrapper {
    justify-content: flex-start;
    height: 100%;
    overflow-y: scroll;

    @include respond-to($site-width) {
        height: calc(100% - #{$header-subtitle-height});

        .row,
        .row-inner { height: auto; }
    }

    .intro {
        padding: 0 2rem;
        
        .row-inner { padding: 0; }

        .content-body {
            @include flex-all(column, center);
            padding: 0;
            text-align: center;

            h2 {
                font: {
                    size: 1.5rem;
                    family: $primary-font;
                    weight: 600;
                }
                letter-spacing: 2.33px;
                line-height: 1.2;
                color: $c-black;

                strong {
                    font-weight: 600;
                    color: $primary-color;
                }

                span { font-size: .75rem; }
            }

            h3 {
                @include scale-font(
                    $small-ratio: 0.5,
                    $mid-ratio: 0.75,
                    $final-size: 1rem
                );
                margin: 2rem 0 0;
                font: {
                    family: $primary-font;
                    weight: 400;
                }
                color: $c-black;
                letter-spacing: 1.2px;

                strong {
                    font-weight: 700;
                    color: $primary-color;
                }
            }

            p {
                margin: 0.675rem 0;
                letter-spacing: 1.2px;
                color: $secondary-color;

                strong { color: $primary-color; }
            }

            ul li a p {
                margin-top: 5px;
            }
        }

        .content-inner { @include flex-all(column, center, center); }

        .content-image {
            img {
                display: block;
                max-width: 743px;
                width: 100%;
            }
        }

        @include respond-to($vp-max) {
            .content-image {
                img {
                    display: block;
                    max-width: none;
                    width: auto;
                }
            }
        }

        @include respond-to($site-width) {
            .intro {
                .content-body { 
                    text-align: right; 
                }

                .content-body2 { text-align: left; }
            }
            
            .content-inner {
                @include flex-all(row-reverse, space-between, flex-start);

                .content-body {
                    padding-top: 12rem;

                    h2 { 
                        margin-bottom: 1rem; 
                        font-size: 1.9375rem;
                    }
                }
            }
        }
    }
}
