.nosotros-wrapper {
    position: relative;

    .items-list,
    .items-list > * {
        @include flex-all($justify: center, $wrap: wrap);
        position: relative;
        width: 100%;
        padding: 0 0 2rem;
    }

    .item {
        flex: 1;

        .icon-hexagon {
            position: absolute;
            top: 50%;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 300px;
            transform: translateY(-50%);

            svg {
                width: 100%;
                height: 100%;
                fill: $c-white;
                filter: drop-shadow(7px 5px 30px rgba(72, 73, 121, 0.15));

                circle {
                    display: block;
                    transform-origin: 50% 50%;
                    animation: rotate-center 0.6s linear infinite backwards;
                }
            }
        }

        &-summary {
            @include flex-all(column, center, center);
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;

            .name {
                font: {
                    size: 1.125rem;
                    weight: 600;
                }
            }

            .icon {
                svg {
                    width: 100px;
                    height: 100px;
                }
            }
        }

        &:first-child {
            .text-wrapper {
                display: flex;
            }
        }

        .text-wrapper {
            @include width-constrain(600px);
            font-size: 1.125rem;

            svg {
                width: 60px;
                height: 60px;
            }
        }
    }

    @include respond-to($vp-max) {
        .item {
            flex: none;
            width: 16%;
            margin: 0 1rem;
            height: 260px;
        }

        .content-links {
            // margin-top: 300px;

            .action {
                max-width: 200px;
                width: 100%;
            }
        }
    }
}
