.soluciones {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;

    &-wrapper { 
        justify-content: flex-start; 

        @include respond-to($site-width) {
            position: relative;
        }
    }

    .content-motto {
        @include flex-all($align: center);
        width: 100%;
        height: 150px;
        margin-left: auto;
        text-align: right;

        &__inner { padding: 0 calc(#{$site-padding} + 1rem); }

        @include respond-to($site-width) {
            width:75%;
            text-align: center;
        }
    }

    .item {
        flex: none;
        position: relative;
        width: 100%;
        max-width: 408px;
        height: 525px;
        margin: 0 1rem;
        border-radius: 40px;
        box-shadow: 0 0 100px rgba($c-black, .16);

        @include hover {                       
            .icon-plus { transition: rotate-center cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s; }

            .item-hover { 
                opacity: 1;
                transform: translateY(0); 
            }
        }        

        &-img {
            @include flex-all(column, center, center);
        }

        &-inner {
            @include flex-all($justify: center, $align: center);
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 40px;
            background-color: $c-white;
            overflow: hidden;
        }

        &-hover {
            @include flex-all($justify: center, $align: center);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            border-radius: 40px;
            background-color: $c-white;
            opacity: 0;
            transform: translateY(100%);
            transition: all .65s;

            &__inner {
                padding: 2rem;

                .name {
                    margin: 0;
                    color: $c-black;
                }

                ul { padding: 1rem 0; }

                li {
                    &:before {
                        content: url(assets/images/svgs/icon-check.svg);
                        margin-right: .25rem;
                    }
                }
            }

            .action { margin: .5rem 0 0; }
        }
    }

    .features {
        li {
            position: absolute;
            z-index: 2;
            top: 1rem;
            left: 1rem;

            &.active {
                .content-feature {
                    display: block;
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            @include hover {
                .icon-plus svg { transform: rotate(180deg); }
            }
        }

        .icon-plus {
            transform-origin: 50% 50%;
            transition: transform 1s;

            svg {
                display: block;
                cursor: pointer;
            }
        }

        .content-feature {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            width: 400px;
            border-radius: 0 30px 30px;
            color: $color-over-primary;
            background-color: rgba($primary-color, .93);
            opacity: 0;
            transform: translateY(100%);
            transition: all .5s;

            &__inner {
                padding: 1rem;
            }

            .name { margin: 0; }
        }
    }

    .content-list,
    .content-list > * { @include flex-all; }

    .swiper-container { 
        overflow: visible; 
        margin: 0;
    }
}

@media (min-width:768px) and (max-width:1600px){
    .soluciones {
        .item {
            max-width: 370px;
            height: 434px;
            margin: 1em;
        }
        
        .item-img {
            justify-content: space-around;
            height: 100%;

            img:last-child {    
                display: block;
                height: 42vh;
            }
        }

        .action { font-size: .75rem; }

        .features {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
        }
    }
}

