<div class="pslider-container" [style.width]="'100%'" [style.height]="'100%'">
    <div class="slider-content">
        <div *ngFor="let item of data; index as i" class="translate ajust-width" [style.transform]="movement()">
            <article [id]="'container'+ i" class="item">
                <span class="time">
                    <div [innerHTML]="item.excerpt.rendered"></div>
                    <time><span [innerHTML]="item.excerpt.rendered"></span></time>
                </span>
                <div class="item-summary">
                    <h4 class="name">{{item.title.rendered}}</h4>
                    <div class="text" [innerHTML]="item.content.rendered"></div>
                </div>
            </article>
        </div>
    </div>
</div> 

<!-- <div class="controls"> -->
    <div class="arrow arrowleft">
        <img src="assets/images/svgs/arrowIcon.png" alt="left" (click)="step(-1)">
    </div>
    <div class="arrow arrowright">
        <img src="assets/images/svgs/arrowIcon.png" alt="right" (click)="step(1)">
    </div>
    <!-- </div> -->