@media (min-width: 768px) and (max-width: 1600px)  {
    .pslider-container,
    .pslider-container .slider-content {
        position: static !important;
    }

    .arrow {
        top: 0;
        z-index: 2;
        width: 50px;
        height: 110px;

        &.arrowleft {
            left: 0;
        }

        &.arrowright {
            left: auto;
            right: 0;
        }

        img { transform: scale(.5); }
    }
}