<div class="pslider-container" [style.width]="'100%'" [style.height]="'100%'">
    <div class="slider-content">
        <div *ngFor="let option of data" [style.transform]="'translate('+ -100 * selectedOption +'%,0px)'">
            <article class="item">
                <span class="time">{{option.time}}
                    <time data-time="">{{option.time}}</time>
                </span>
                <div class="item-summary">
                    <h4 class="name" id="timeline_item_">{{option.name}}</h4>
                    <div class="text">{{option.text}}</div>
                </div>
            </article>
        </div>
    </div>
</div>