<article class="item" aria-labelledby="timeline_item_">
    <span class="time">2001
        <time data-time="">2001</time>
    </span>
    <div class="item-summary">                                                
        <h4 class="name" id="timeline_item_">Los primeros pasos</h4>
        <div class="text">Nuestro inicio surge del espíritu emprendedor de nuestro CEO Sergio Alvano con el nacimiento del proyecto OCYNET y la necesidad de implementar soluciones que masifiquen el acceso a la sociedad de la información y el entretenimiento. Cada día más ciudadanos interconectados...</div>
    </div>
</article>

<article class="item" aria-labelledby="timeline_item_2">
    <span class="time">2005
        <time data-time="2005">2005</time>
    </span>
    <div class="item-summary">                                                
        <h4 class="name" id="timeline_item_2">Nacimiento</h4>
        <div class="text">Con la fusión de dos PYMES Extremeñas y con un espíritu ampliar los proyectos Europeos llevados a cabo en el ámbito de la Educación con los primeros contenidos educativos multiplataforma, nace SILICE para ofrecer soluciones integrales de tecnología basadas en software libre.</div>
    </div>
</article>

<article class="item" aria-labelledby="timeline_item_2">
    <span class="time">2007
        <time data-time="2007">2007</time>
    </span>
    <div class="item-summary">                                                
        <h4 class="name" id="timeline_item_2">Un reto. Cambiar el mundo</h4>
        <div class="text">Como compromiso con la transformación digital de los ciudadanos, SÍLICE participa activamente en el proyecto LinEx, a través de la implementación de la distribución de LinEx para la administración pública, impulsando así uno de los mayores cambios tecnológicos en España.</div>
    </div>
</article>

<article class="item" aria-labelledby="timeline_item_3">
    <span class="time">2009
        <time data-time="2009">2009</time>
    </span>
    <div class="item-summary">                                                
        <h4 class="name" id="timeline_item_3">Una misión: Think global</h4>
        <div class="text">SILICE inicia su crecimiento internacional liderando junto a la Universidad Tecnológica de Panamá el primer congreso de Software Libre en Latinoamérica. Comienza nuestro camino de retos y aprendizajes en la conquista del mercado en LATAM comenzando por República de Panamá.</div>
    </div>
</article>

<article class="item" aria-labelledby="timeline_item_5">
    <span class="time">2011
        <time data-time="2011">2011</time>
    </span>
    <div class="item-summary">                                                
        <h4 class="name" id="timeline_item_5">Una visión: Play local</h4>
        <div class="text">Damos apertura a la primera oficina de negocios en Latinoamérica con las sedes de Panamá y Bogotá. Fruto de este trabajo y compromiso, somos seleccionada por el Gobierno de Panamá para realizar la Consultoría de Transformación Digital del proyecto de Modernización Municipal.</div>
    </div>
</article>

<article class="item" aria-labelledby="timeline_item_6">
    <span class="time">2012
        <time data-time="2012">2012</time>
    </span>
    <div class="item-summary">                                                
        <h4 class="name" id="timeline_item_6">El mundo está lleno de Talento</h4>
        <div class="text">Abrimos la 4ta oficina en Latinoamérica: Santiago de Chile. Continuando así  con la apuesta de la transformación de la administración pública. Ampliando proyectos y ganando experiencia que nos preparaban para los retos venideros mientras nuestro equipo crecía.</div>
    </div>
</article>

<article class="item" aria-labelledby="timeline_item_7">
    <span class="time">2015
        <time data-time="2015">2015</time>
    </span>
    <div class="item-summary">                                                
        <h4 class="name" id="timeline_item_7">Sociedad digital - Economía digital</h4>
        <div class="text">Nace Smallshi, una plataforma Integral de Smart Social City; creando entornos digitales mediante la construcción de una identidad digital propia, eliminando la brecha digital y garantizando la generación de experiencias de usuario diferenciadoras.</div>
    </div>
</article>

<article class="item" aria-labelledby="timeline_item_8">
    <span class="time">2016
        <time data-time="2016">2016</time>
    </span>
    <div class="item-summary">                                                
        <h4 class="name" id="timeline_item_8">Ciudades: un ecosistema digital</h4>
        <div class="text">Nace el municipios 360. Generando en más de 100 Ciudades de América Latina espacios digitales donde el ciudadano interactúe de manera real con el municipio, impulsando la gestión, participación, comunicación y transparencia.</div>
    </div>
</article>

<article class="item" aria-labelledby="timeline_item_9">
    <span class="time">2017
        <time data-time="2017">2017</time>
    </span>
    <div class="item-summary">                                                
        <h4 class="name" id="timeline_item_9">Reiniciando</h4>
        <div class="text">La visión de una sociedad digital nos impulsa a la implementación de PAU como Orquestador de comunicaciones y servicios  omnicanales. Así, llega el nacimiento de una nueva etapa basada en la generación de ecosistemas digitales sobre tecnología 100% implementada por SILICE.</div>
    </div>
</article>

<article class="item" aria-labelledby="timeline_item_10">
    <span class="time">2018
        <time data-time="2018">2018</time>
    </span>
    <div class="item-summary">                                                
        <h4 class="name" id="timeline_item_10">Construyendo valor agregado</h4>
        <div class="text">Avanza la apuesta por  la construcción de nuestro ecosistema omnicanal. La inversión en soluciones propias crece un 300% llevando a SILICE a implementar DSPayment, Omniturno, Omnibank, BPM Omnichanel. Un completo abanico de soluciones adaptables y eficientes.</div>
    </div>
</article>

<article class="item" aria-labelledby="timeline_item_11">
    <span class="time">2019
        <time data-time="2019">2019</time>
    </span>
    <div class="item-summary">                                                
        <h4 class="name" id="timeline_item_11">Todo cobra sentido</h4>
        <div class="text">Tras 18 meses de investigación, experimentación y desarrollo nace ANA, el primer asistente omnicanal conversacional de una administración para la relación de atención y servicios con la ciudadanía. Origen Panamá, hub de culturas y sede Latinoamericana de SILICE.</div>
    </div>
</article>

<article class="item" aria-labelledby="timeline_item_12">
    <span class="time">2020
        <time data-time="2020">2020</time>
    </span>
    <div class="item-summary">                                                
        <h4 class="name" id="timeline_item_12">El año del Covid</h4>
        <div class="text">El año donde el mundo nos retó a innovar. Año del mayor crecimiento global de SILICE. Más de 35 Proyectos Omnicanales, Más de 10 mercados. Más de 3.000.000 ciudadanos conectados gracias a PAU y su ecosistema Omnicanal. Aprendizaje, reinvención y crecimiento constante.</div>
    </div>
</article>

<article class="item" aria-labelledby="timeline_item_13">
    <span class="time">2021
        <time data-time="2021">2021</time>
    </span>
    <div class="item-summary">                                                
        <h4 class="name" id="timeline_item_13">Listos para innovar</h4>
        <div class="text">Comprometidos con un nuevo año para seguir escribiendo nuestra historia, para seguir construyendo ecosistemas digitales que contribuyan a construir una sociedad mejor, listos para los nuevos retos y aprendizajes venideros. ¿Te unes?</div>
    </div>
</article>
