* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    letter-spacing: 1px;
}

#__next {
    height: 100%;
}

.page {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font: {
        size: $base-font-size;
        family: $primary-font;
    }
    line-height: 29px;
    color: $c-text;

    @include respond-to($vp-large) {
        display: grid;
        position: relative;
        overflow: hidden;
        grid-template-columns: 1fr $sidebar-width;
        grid-template-areas:
            "header  sidebar"
            "content sidebar";
    }
}

.site {
    &-header {
        grid-area: header;
        background-color: $c-white;
    }

    &-content {
        width: calc(100vw - var(--width-chat-widget));
        grid-area: content;
    }

    &-aside {
        @include bg-cover;
        position: relative;
        z-index: 50;
        grid-area: sidebar;
        background-color: $c-white;
    }

    @include respond-to($vp-large) {
        &-content {
            height: calc(100vh - #{$header-height});
        }
    }

    @include respond-to($vp-max) {
        &-content {
            &__row {
                height: 100%;
            }
            &__row--inner {
                // display: grid;
                // grid-template-rows: 200px 1fr;
                height: 100%;
            }
        }
    }
}

figure {
    margin: 0;
}

a {
    transition: color 0.5s, background-color 0.5s;
}

svg {
    transition: fill 0.5s;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.875rem;
}
h6 {
    font-size: 0.75rem;
}

@include respond-to($site-width) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.25rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 0.75rem;
    }
}

.row,
.row-inner {
    width: 100%;
}

.row > .row-inner {
    padding: 0 1.5rem;

    @include respond-to($vp-large) {
        padding: 0;

        .padding-row & {
            padding: 0 $site-padding;
        }
    }
}

.module {
    @include flex-all(column, center, center);
    padding: 0;
    height: calc(100% - #{$header-subtitle-height});
    overflow-y: auto;
    overflow-x: hidden;
}

.full-screen {
    @include respond-to($vp-max) {
        &.page-scroll {
            overflow: visible !important;
            height: 100% !important;

            .module {
                height: auto;
            }

            .site-footer {
                position: fixed;
                bottom: 0;
            }
        }
    }
}

.width-constrain-row {
    .row-inner {
        @include respond-to($vp-large) {
            @include width-constrain;
        }
    }
}

.padded-row {
    .row {
        padding: 0 1rem;
    }
}

.motto {
    text-align: center;
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

@media (max-width: 1600px) and (min-width: 768px) {
    .page {
        &:before {
            height: 15vh;
        }

        &:after {
            width: 500px;
            height: 400px;
            top: -6vh;
            left: -168px;
        }
    }
    .module {
        height: 100%;
    }
}

