<div class="site-title-wrapper">            
    <div class="site-title-column">
        <h1 class="title site-title">Soluciones</h1>
    </div>
    <div class="site-title-column site-sub-section">
        <div class="sub-section__inner">
            <h2 id="tabs_header" class="sub-section-title"><a href="/contacto">Quiero un demo!</a></h2>
            <div class="sub-section-content">Primera sesión de consultoría gratuita</div>
        </div>
    </div>
</div> 

<div id="soluciones_wrapper" class="module soluciones-wrapper">
    <div class="row">
        <div class="row-inner">
            <section class="soluciones content" aria-labelledby="soluciones_header">  
                <div class="content-motto">
                    <div class="content-motto__inner">Conoce las herramientas más completas del mercado que se adaptan a tus necesidades y te convertirán en un referente del sector. Nuestro portafolio de productos y servicios llevan tu negocio u organización a la cima de la era digital.</div>
                </div>
                <div class="content-list">                        
                    <solutions></solutions>
                </div>
            </section>
        </div>
    </div>
</div>
