h2.title {
    font-size: 10pt;
    font-weight: 500;
    position: absolute;
    bottom: 100%;
    padding: 1em;
    strong {
        color: var(--headerTextColor);
    }
}

.slider-container {
    list-style: none;
    background-color: white;
    margin: 1em 0em;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}