<div class="site-title-wrapper">            
    <div class="site-title-column">
        <h1 class="title site-title">Equipo</h1>
    </div>
    <div class="site-title-column">
        <h3 class="title site-subtitle">Nuestro <strong>Talento</strong></h3>
        <span class="motto">¿Quién está detrás de la transformación e innovación digital? ¡Conoce parte del equipo <strong>SILICE</strong> y contactalo de acuerdo a tus necesidades!</span>
    </div>
</div>
<div id="team_wrapper" class="module team-wrapper cards-wrapper">
    <div class="row">
        <div class="row-inner">

            <section class="team content" aria-labelledby="team_header">      
                <div class="content-inner">    

                    <div class="content-body">  
                        <timeline></timeline>
                    </div>

                    <div class="content-navigation">
                        <Link href="/nosotros/trayectoria">
                        <a class="action action-navigation prev">
                            <span class="action-svg"><svg width="8.121" height="13.152" viewBox="0 0 8.121 13.152"><path d="M14.43,9l-1.545,1.545,5.02,5.031-5.02,5.031,1.545,1.545,6.576-6.576Z" transform="translate(21.006 22.152) rotate(180)"/></svg></span>
                            <span class="action-text">
                                <span class="first-line">Anterior</span>
                                <span class="second-line">Trayectoria</span>
                            </span>
                        </a>
                        <!-- </Link>  -->
                    </div>
                </div>  
            </section>

        </div>
    </div>
</div>
