@media (min-width: 769px) and (max-width: 1600px) {    
    .content-body,
    .content-body > *,
    .team-wrapper { position: static; }

    section.team.content {
        margin: 1em 0 1em 0;
    }
    .fixed-row {
        height:100%;
    }   

    .content-navigation {
        padding-bottom: 8rem;
    }
}
