.timeline {
    &-wrapper {
        position: static;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }

        .row-inner {
            max-width: 100%;
        }

        @include respond-to($site-width) {
            position: relative;

            .row {
                display: flex;
                align-items: center;
            }

            .pslider-container,
            .pslider-container .slider-content { overflow: visible; }
        }
    }

    .swiper-slide {
        margin-left: 4.75rem;
    }

    .item {
        @include flex-all(column, center);
        flex: none;
        width: 654px;
        // width: 480px;
        // height: 500px;
        margin: 0 3rem 0 2rem;

        @include mask {
            top: 50%;
            left: calc((-4.75rem / 2) - (21px / 2));
            width: 21px;
            height: 21px;
            margin-top: calc(29px / 2);
            border-radius: 50%;
            border: 5px solid $c-white;
            box-sizing: border-box;
            background-color: $primary-color;
            transform: translateY(-50%);
        }

        &-summary {
            @include flex-all(column, center);
            position: relative;
            z-index: 2;
            min-height: 400px;
            padding: 2rem;
            // border: 10px solid $c-grey-light;
            border-radius: 20px;
            background-color: $c-white;
            box-shadow: 0 0 80px rgba($c-black, 0.1);
        }
    }

    .name {
        margin: 0 0 0.5rem;
        font: {
            size: 1.375rem;
            family: $primary-font;
            weight: 600;
        }
        color: $primary-color;

        strong {
            font-weight: 900;
            color: $primary-color;
        }
    }

    .text {
        letter-spacing: 1.2px;
    }

    .time {
        display: block;
        font: {
            size: 2.25rem;
            family: $primary-font;
            weight: 900;
        }
        text-align: right;
        color: $c-black;

        time {
            @include flex-all($align: flex-end);
            @include scale-font($small-ratio: 0.5, $mid-ratio: 0.75, $final-size: 7.75rem);
            position: absolute;
            z-index: 1;
            top: -88px;
            left: 0;
            height: 100px;
            color: $c-grey-light;
        }
    }

    .content-body {
        @include flex-all($direction: column, $align: center);

        &:before {
            content: " ";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 8px;
            margin-top: calc(29px / 2);
            background-color: $c-grey-light;
            transform: translateY(-50%);
        }
    }

    .content-body > * {
        width: 100% !important;
        // height: 500px !important;
    }
}

@media (min-width: 768px) and (max-width: 1600px)  {
    .timeline {
        .item {
            justify-content: flex-start;
            width: 480px;
            margin: 1.5em 0 0;
            transform: scale(0.9);
            // height: 455px;

            &::before{
                left: calc((1rem / 2) - (88px / 2));
            }
        }
        .time {
            time {
                top: -65px;
                font-size: 3.2em;
                left: 9px;
            }
        }
        .item-summary{
            min-height: 300px;
            padding:1.4em;
        }
    }
}
