.widget {
    margin-bottom: 2.5rem;
    padding: 2rem;
    border-radius: 20px;
    background-color: $c-white;

    h3 { 
        font: {
            size: 1.5rem;
            weight: 900;
        }
        text-transform: uppercase;
        margin: 0 0 1rem;
    }

    &.social {
        .items-list {
            @include flex-all;
            margin-bottom: 1rem;

            li { margin: 0 1.25rem 0 0; }

            a {
                @include hover {
                    svg { fill: $primary-color; }
                }
            }

            svg {
                fill: $secondary-color;
            }
        }
    }

    .subscribe {
        form { 
            @include flex-all; 

            input[type="email"] {
                flex: 1;
                background-color: $c-grey-mid;
            }

            input[type="submit"] {
                flex: none;
                width: 145px;
                color: $color-over-primary;
                background-color: $primary-color;
            }
        }
    }

    &.viewed {
        li {
            &:last-child .item { border-bottom: 0; }

            .item {
                @include flex-all($align: center); 
                padding: .5rem 0 1.5rem 0;
                border-bottom: 1px dashed rgba($c-black, .1);
                
                img {
                    flex: none;
                    width: 86px;
                    height: 86px;
                    margin-right: .875rem;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .summary {
                    flex: 1;

                    h4 {
                        margin: 0;
                        font-size: .875rem;
                        line-height: 1.25;

                        a {
                            text-decoration: none;
                            color: $secondary-color;

                            @include hover-color($primary-color);
                        }
                    }

                    time {
                        font: {
                            size: .75rem;
                            weight: 300;
                        }
                    }
                }
            }
        }
    }
}

.widgets-news {
    flex: none;
    width: 394px;
}

@media (min-width:768px) and (max-width:1600px){
    .widget { padding: 1rem; }

    .widgets-news {
        width: 300px;
    }
}
