<header id="site_header" class="site-header" aria-label="Cabezera Principal">
    <div class="site-header__row">
        <div class="site-header__row--inner">
            <div class="site-title">
                <div class="site-title__inner">
                    <div class="logo">
                        <!--  initial={{ opacity: 0, x: -100 }}
                        animate={{ opacity: 1, x: 1, transition: { duration: 1 } }} -->
                        <a routerLink="/c">
                            <span class="logo__name hidden">Silice</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="site-menu-wrapper">
                <main-menu></main-menu>
            </div>
        </div>
    </div>
</header>