<section class="sedes content" aria-labelledby="sedes_header">      
    <div class="content-inner">    
        <div class="content-slider">  
            <h2 class="country"><svg xmlns="http://www.w3.org/2000/svg" width="9.677" height="13.824" viewBox="0 0 9.677 13.824"><path d="M12.339,3A4.835,4.835,0,0,0,7.5,7.839c0,3.629,4.839,8.986,4.839,8.986s4.839-5.357,4.839-8.986A4.835,4.835,0,0,0,12.339,3Zm0,6.567a1.728,1.728,0,1,1,1.728-1.728A1.729,1.729,0,0,1,12.339,9.567Z" transform="translate(-7.5 -3)" fill="#ff6c2b"/></svg> Panamá</h2>                      
            <div class="sedes-gallery">                     
                <div class="item">
                    <img src="https://source.unsplash.com/1400x450/?school" />
                </div>
                <div class="item">
                    <img src="https://source.unsplash.com/1400x450/?office" />
                </div>
                <div class="item">
                    <img src="https://source.unsplash.com/1400x450/?moto" />
                </div>
                <div class="item">
                    <img src="https://source.unsplash.com/1400x450/?car" />
                </div>
            </div>
            <div class="content-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.6740145999106!2d-79.58675339999999!3d9.002113099999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca7b801ac5f35%3A0x5ceb78739b318c53!2sSILICE%20PANAMA!5e0!3m2!1sen!2sco!4v1616459416856!5m2!1sen!2sco" width="360" height="220" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>

        <div class="content-info">
            <div class="address">
                <h2 class="title">Información de <strong>Contacto</strong></h2>
                <div class="address-item">
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g transform="translate(-54 -919)"><circle cx="13" cy="13" r="13" transform="translate(54 919)" fill="#ff6c2b"/><path d="M11.7,3A4.2,4.2,0,0,0,7.5,7.2c0,3.15,4.2,7.8,4.2,7.8s4.2-4.65,4.2-7.8A4.2,4.2,0,0,0,11.7,3Zm0,5.7a1.5,1.5,0,1,1,1.5-1.5A1.5,1.5,0,0,1,11.7,8.7Z" transform="translate(55.299 923)" fill="#fff"/></g></svg> 
                    <span class="address-inner">Dirección: <strong>Ciudad de Panamá, Ancón, Clayton, Ciudad del Saber, Edificio 237, Piso 2, Oficina 2b.</strong></span></p>
                </div>
                <div class="address-item">
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g transform="translate(-54 -952)"><circle cx="13" cy="13" r="13" transform="translate(54 952)" fill="#ff6c2b"/><path d="M10.6.528,8.366.012a.519.519,0,0,0-.591.3L6.744,2.717a.514.514,0,0,0,.148.6l1.3,1.066A7.963,7.963,0,0,1,4.387,8.192L3.321,6.89a.515.515,0,0,0-.6-.148L.313,7.773a.522.522,0,0,0-.3.593L.528,10.6a.515.515,0,0,0,.5.4A9.968,9.968,0,0,0,11,1.031.515.515,0,0,0,10.6.528Z" transform="translate(61 960.001)" fill="#fff"/></g></svg> 
                    <span class="address-inner">Teléfonos: <a href="tel:+5073028095"><strong>+5073028095</strong></a></span></p>
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g transform="translate(-54 -983)"><circle cx="13" cy="13" r="13" transform="translate(54 983)" fill="#ff6c2b"/><path d="M13.8,6H4.2A1.2,1.2,0,0,0,3.006,7.2L3,14.4a1.2,1.2,0,0,0,1.2,1.2h9.6A1.2,1.2,0,0,0,15,14.4V7.2A1.2,1.2,0,0,0,13.8,6Zm0,2.4L9,11.4l-4.8-3V7.2l4.8,3,4.8-3Z" transform="translate(58 985.8)" fill="#fff"/></g></svg> 
                    <span class="address-inner">Email: <a href="mailto:panama@silice.si"><strong>panama@silice.si</strong></a></span></p>
                </div>
            </div>
            <div class="info">Nuestra sede en Panamá se fundó en Septiembre del año 2009, e inició operaciones con el proyecto: Consultoría transformación tecnológica para Municipios de La República de Panamá. Nuestras instalaciones están ubicadas dentro del holding destinado a empresas de innovación Ciudad del Saber en Ciudad de Panamá.</div>
        </div>
    </div>  
</section>
