<nav class="primary-menu" aria-labelledby="primary_menu_header">
    <button class="toogle-icon-menu" >
        <!-- onClick={() => setOpen(!open)} -->
        <div id="hamburger" > 
            <!-- class={`hamburglar ${open ? 'is-open' : 'is-closed'}`} -->
            <div class="burger-icon">
                <div class="burger-container">
                    <span class="burger-bun-top"></span>
                    <span class="burger-filling"></span>
                    <span class="burger-bun-bot"></span>
                </div>
            </div>
            <div class="burger-ring">
                <svg class="svg-ring">
                    <path class="path" fill="none" strokeMiterlimit="10" strokeWidth="4" d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2" />
                </svg>
            </div>
            
            <svg width="0" height="0">
                <mask id="mask">
                    <path xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#ff0000" strokeMiterlimit="10" strokeWidth="4" d="M 34 2 c 11.6 0 21.8 6.2 27.4 15.5 c 2.9 4.8 5 16.5 -9.4 16.5 h -4" />
                </mask>
            </svg>
            <div class="path-burger">
                <div class="animate-path">
                    <div class="path-rotation"></div>
                </div>
            </div>
            
        </div>
    </button>
    <h2 id="primary_menu_header" class="title hidden">Menu Primario</h2>
    <div class="primary-menu">
        <ul >
            <!-- style={{transform: open ? "translateX(0)" : "translateX(-100%)"}} -->
            <li class="menu-item-has-children">
                <a routerLink="nosotros">Nosotros</a>
                <ul class="sub-menu">
                    <li>
                        <a routerLink="nosotros">Somos</a>
                    </li>
                    <li>
                        <a routerLink="nosotros/trayectoria">Trayectoria</a>
                    </li>
                    <li>
                        <a routerLink="nosotros/equipo">Equipo</a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="laboratorio">Laboratorio de Innovación</a>
            </li>
            <li class="menu-item-has-children">
                <a routerLink="soluciones">Soluciones</a>
            </li>
            <li>
                <a routerLink="casos">Casos de Éxito</a>
            </li>
            <li>
                <a routerLink="blog">Blog</a>
            </li>
            <li class="menu-item-has-children">
                <a routerLink="experiencia">Experiencia</a>
                <ul class="sub-menu">
                    <li>
                        <a routerLink="experiencia">Presencia</a>
                    </li>
                    <li>
                        <a routerLink="experiencia/sedes">Sedes</a>
                    </li>
                    <li>
                        <a routerLink="experiencia/contacto">Contacto</a>
                    </li>
                </ul>
            </li> 
        </ul>
    </div>
</nav>