<div class="silicechat-input-faqs-list">
    <a class="boxclose" id="boxclose" (click)="goBack()"> <i class="material-icons ">cancel</i></a>
    <ul>
        <li><a class="custom-color-hover "><b>Preguntas frecuentes</b></a></li>

        <!-- <li><a class="custom-color-hover " (click)="selectComando('Apuntarte a una oferta de trabajo')">1. Apuntarte a una oferta de trabajo</a></li>
        <li><a class="custom-color-hover " (click)="selectComando('Contactar con un operador')">2. Contactar con un operador</a></li>-->
        <li><a class="custom-color-hover " (click)="selectComando('Asuntos Comunales')">1. Asuntos Comunales.</a></li>
        <li><a class="custom-color-hover " (click)="selectComando('Participación Ciudadana')">2. Participación Ciudadana</a></li>
        <li><a class="custom-color-hover " (click)="selectComando('Fortalecimiento de la organización social')">3. Fortalecimiento de la organización social</a></li>
        <li><a class="custom-color-hover " (click)="selectComando('Solicitud de Certificados de las JAC')">4. Solicitud de Certificados de las JAC</a></li>
        <li><a class="custom-color-hover " (click)="selectComando('Horarios y puntos de atención')">5. Horarios y puntos de atención</a></li>

    </ul>
</div>