<div class="aivochat-input-faqs-list">
        <ul><li><a class="custom-color-hover "(click)="selectComando('Solicitar matricula como Persona Natural')" >Solicitar matricula como Persona Natural.</a></li>
          <li><a class="custom-color-hover " (click)="selectComando('Hacer parte de nuestra Red de Afiliados')">Hacer parte de nuestra Red de Afiliados.   </a></li>
          <li><a class="custom-color-hover " (click)="selectComando('Renovar matricula o inscripción')">Renovar matricula o inscripción.  </a></li>
          <li><a class="custom-color-hover " (click)="selectComando('Comprar Certificados')">Comprar Certificados.</a></li>
          <li><a class="custom-color-hover " (click)="selectComando('Información General')">Información General</a></li>
          <li><a class="custom-color-hover " (click)="selectComando('Pedir un Turno')" >Pedir un Turno</a></li> 
                        
        </ul>
      </div>