<div class="aivochat-input-faqs-list">
        <ul><li><a class="custom-color-hover "> <b>Preguntas frecuentes</b></a></li>
          <li><a class="custom-color-hover ">Sucursales y horarios</a></li>
          <li><a class="custom-color-hover ">Tarjetas de crédito</a></li>
          <li><a class="custom-color-hover ">Tarjetas de débito</a></li>
          <li><a class="custom-color-hover ">Estado de cuenta</a></li>
          <li><a class="custom-color-hover ">Información para préstamos</a></li>
          <li><a class="custom-color-hover ">Funciones banca en línea</a></li>
          <li><a class="custom-color-hover ">Problemas de usuarios</a></li>
          <li><a class="custom-color-hover "><b>¿Cómo utlizar el chatbot?</b></a></li>
        </ul>
      </div>