<div class="desplegableOption">
  <div class="selectableOptionInput hidden adjunto">
    <label for="archivo" (click)="loadfile()"
      >Seleccione el archivo <sub>solo se permite {{ file.acceptedfiles }}</sub>
    </label>
    <input name="archivo" type="file" id="chat-input-file" />
    <div class="archivo-preview" (click)="loadfile()">
      <img
        *ngIf="file.file.kindfile == 'image' && file.file.errormessage.value"
        id="archivo-preview-image"
        alt="vista previa"
      />
      <video
        *ngIf="file.file.kindfile == 'video' && file.file.errormessage.value"
        id="archivo-preview-video"
        controls
        style="max-width: 100%; max-height: 100%"
      >
        <source src="" type="" />
      </video>
      <div
        *ngIf="file.file.kindfile == null && file.file.errormessage.value"
        class="texto-secundario"
      >
        Vista previa
      </div>
      <div
        *ngIf="!file.file.errormessage.value"
        class="texto-secundario danger"
      >
        {{ file.file.errormessage.message }}
      </div>
      <div
        *ngIf="file.file.kindfile == 'pdf' && file.file.errormessage.value"
        class="texto-secundario"
      >
        Vista previa no disponible
      </div>
    </div>
    <div
      *ngIf="file.file.kindfile != null && file.file.errormessage.value"
      class="archivo-send"
    >
      <button
        class="button-enviar-file"
        [disabled]="file.file.kindfile == null"
        (click)="sendFile()"
      >
        enviar
      </button>
    </div>
  </div>
</div>
