div.options {
    cursor: pointer;
    display: block;
    position: relative;
    width: calc(40px - 0.8em);
    height: calc(40px - 0.8em);
    background-image: url(src\assets\gearIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    align-self: center;
    margin: 0.4em;
}
div.menu-options {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 350px;
    cursor: initial;
    height: 30px;
    /* background-color: hsla(0,0%,50%,37%); */
    top: 32px;
}
.hidden{
    display: none;
    visibility: hidden;
    }
    
.relative{
    position: relative;
}
div.option{
    cursor: pointer;
    display: block;
    width: calc(30px - 0.2em);
    height: calc(30px - 0.2em);
    margin: 0px 0.2em;
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
}
div.option.adjunto{
    background-image: url(src\assets\attachedIcon.png);
}

div.option.question-menu{
    background-image: url(src\assets\menuIcon.png);
}
div.selectableOptionInput{
    width: 250px;
    border: 1px solid gray;
    height: 250px;
    position: absolute;
    top: calc(-250px + 40px);
    left: calc(-250px);
}

input#chat-input-file {
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.adjunto label {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1em;
    cursor: pointer;
}
.adjunto label:hover{
    font-weight:bold;
}
.archivo-preview {
    width: calc(100% - 2em);
    height: 100px;
    border: 1px dashed gray;
    max-width: 150px;
    margin: 1em auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
img#archivo-preview-image {
    max-width: 100%;
    max-height: 100%;
}
.texto-secundario{
    color: hsla(0,0%,0%,43%);
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}
.danger{
    color: hsla(0, 80%, 50%, 90%);
}
.archivo-send {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-enviar-file {
    background: #0053AD;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 7px 1em;
}

.button-enviar-file:hover {
    cursor: pointer;
    background: #0053ADEE;
}
.button-enviar-file:focus {
    outline: none;
}