.relative {
    position: relative;
    z-index: 2;
}

.absolute {
    position: absolute;
    top: -15px;
    left: 0;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
    @media all and (min-width: 1600px) {
        height: 100px;
        &.absolute {
            top: -144px;
        }
    }
}

.presencia .stats {
    .title {
        place-self: center;
        padding-right: 3em;
    }
    .items-list {
        transform-origin: center;
    }
}

.relation-map-clients {
    --clients-heigth: 55px;
    display: grid;
    grid-template-rows: 1fr var(--clients-heigth);
    .hmap {
        height: 100%;
    }
    .hclients {
        height: 100%;
    }
}

.h100-7em {
    height: calc(100% - 7.1em);
}