<div class="site-title-wrapper">
    <div class="site-title-column">
        <h1 class="title site-title">Presencia</h1>
    </div>
    <div class="site-title-column site-sub-section">
        <section class="presencia content" aria-labelledby="presencia_header">
            <section class="stats">
                <h3 class="title">
                    <span class="hidden">Think<strong>&nbsp;Global</strong>&nbsp;Play<strong>&nbsp;Local</strong></span>
                    <img src="assets/images/silice-slogan-dark.png" alt="Think Global Play Local" />
                </h3>
                <infografia></infografia>
                <!-- <ul class="items-list">
                    <li *ngFor="let dato of data">
                        <span class="number">{{dato.before}} {{dato.initial}} {{dato.after}}</span>
                        <span class="text">{{dato.text}}</span>
                    </li>
                </ul> -->
            </section>
        </section>
    </div>
</div>
<div class="relative w100 h100-7em relation-map-clients">
    <div class="relative w100 hmap">
        <mapa-mundi></mapa-mundi>
        <!-- <presencia></presencia> -->
    </div>
    <div class="relative w100 hclients">
        <clients class="absolute w100 h100"></clients>
    </div>
</div>