.wrapper-silice :host {
    position: absolute;
    background: #FEFEFE;
    width: calc(100% - 10px);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    left: 5px;
    padding: 0;
    z-index: 1;
    margin: 0;
    border-radius: 5px;
    max-height: 144px;
    overflow: hidden;
    overflow-y: auto;
    opacity: 0;
}

.silicechat-input-faqs-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.silicechat-input-faqs-list ul li a {
    display: block;
    width: calc(100% - 20px);
    padding: 7px 10px;
    font-size: 13px;
    border-bottom: 1px solid #f1f0f0;
    color: #333333;
    cursor: pointer;
    margin: 0;
    text-align: left;
}

.silicechat-input-faqs-list .boxclose {
    float: right;
    margin-top: 2px;
    display: inline-block;
}