<div class="silicechat-input-faqs-list">
    <a class="boxclose" id="boxclose" (click)="goBack()"> <i class="material-icons ">cancel</i></a>
    <ul>
        <li><a class="custom-color-hover "><b>Preguntas frecuentes</b></a></li>

        <li><a class="custom-color-hover " (click)="selectComando('empresa interesada')">1. Empresa interesada</a></li>
          <li><a class="custom-color-hover " (click)="selectComando('inscripcion')">2. Nueva afiliación de comercio</a></li>
     <li><a class="custom-color-hover " (click)="selectComando('saldo')">3. Saldo de tarjeta Vale</a></li>
         <!-- <li><a class="custom-color-hover " (click)="selectComando('Convocatorias de becas para escuelas pública.')">1.-Convocatorias de becas para escuelas pública..</a></li>
        <li><a class="custom-color-hover " (click)="selectComando('Convocatorias de becas para escuelas privadas')">2.-Convocatorias de becas para escuelas privadas</a></li>
        <li><a class="custom-color-hover " (click)="selectComando('Crédito Educativo')">3.-Crédito Educativo</a></li>
        <li><a class="custom-color-hover " (click)="selectComando('Preguntas frecuentes')">4.-Preguntas frecuentes</a></li>
        <li><a class="custom-color-hover " (click)="selectComando('Preguntas frecuentes')">5.-Preguntas frecuentes</a></li>
        <li><a class="custom-color-hover " (click)="selectComando('#desvincular')">Cerrar sesión</a></li>-->
     
    </ul>

    
</div>