.site-header {
    position: relative;
    z-index: 999;
    width: 100%;
    z-index: 10;

    &__row--inner {
        @include flex-all($align: center);
    }

    .site-title {
        @include flex-all($justify: center, $align: center);
        flex: none;
        height: $header-height;
        margin: 0;
    }

    .logo a {
        @include image-replace(
            $header-logo-width,
            $header-logo-height,
            $header-logo-image-dark
        );
        margin: 0 auto;
    }

    .site-menu-wrapper {
        flex: 1;
        width: 100%
    }

    @include respond-to($vp-large) {
        width: 100%;
        height: $header-height;

        .site-title,
        .site-title a {
            margin: 0;
        }

        .site-title {
            justify-content: flex-start;
        }

        &__row--inner {
            flex-direction: row;
            justify-content: space-between;
            height: $header-height;
            padding: 0 0 0 $site-padding;
        }

        .logo {
            padding: 0;
        }
    }
}
