.primary-menu {
    .toogle-icon-menu {
        @include flex-all($justify: center, $align: center);
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 10;
        height: $header-height;
        border: 0;
        background-color: transparent;
        transform: translateY(-50%);
    }

    > ul {
        @include stripped-list;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100vh;
        background-color: $c-white;
        transform: translateX(-100%);
        transition: transform .3s;

        > li {
            @include underline-from-left($border-size: 1px, $border-color: $primary-color, $apply-to: "> a");
            margin: 1rem;
            
            > a {
                padding: 0;
                color: $c-text;
            }

            &.active > a:before { 
                opacity: .2;
                right: 0; 
            }
        }

        li a {
            font: {
                size: .75rem;
                weight: 400;
            }      
            text: {
                transform: uppercase;
                decoration: none;
            }      
            letter-spacing: 3.01px;
        }
    }

    .sub-menu {
        @include flex-all(column);
        @include stripped-list;
        display: none;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;

        a {
            display: block;
            width: 100%;
            padding: .875rem .5rem;
            text-decoration: none;
            color: $c-text;
            transition: color .2s, background-color .2s;

            @include hover-bg-color($primary-color, $color-over-primary);
        }
    }
    
    > ul li:hover > .sub-menu,
    > ul li:focus-within > .sub-menu,
    > ul li .sub-menu:hover,
    > ul li .sub-menu:focus {
        visibility: visible;
        opacity: 1;
        display: flex;
    }

    @include respond-to($vp-mid) {      
        line-height: 1;

        .toogle-icon-menu { display: none; }

        > ul { 
            @include flex-all($justify: space-between); 
            position: static;
            top: auto;
            left: auto;
            z-index: 9;
            width: 100%;
            height: 100%;
            background-color: transparent;
            transform: none !important;

            > li { 
                margin: 0; 
                padding: 0 0 5px;
                position: relative;
                line-height: 1;

                &:last-child { 
                    margin-right: 0; 

                    .sub-menu {
                        left: auto;
                        right: 0;
                    }
                }

                > a { 
                    padding: 0 0 .5rem;
                    color: $color-over-primary; 
                    line-height: 1;
                }
            }
        }

        .sub-menu {
            display: none;
            position: absolute;
            top: 1rem;
            left: 0;
            width: 12rem; 
            border-radius: 5px;
            box-shadow: 2px 2px 8px rgba($c-black, .2);
            background-color: $c-white;
            visibility: hidden;
            opacity: 0;
        }

        > ul li:hover > .sub-menu,
        > ul li:focus-within > .sub-menu,
        > ul li .sub-menu:hover,
        > ul li .sub-menu:focus { top: 100%; }
    }

    @include respond-to($site-width) {      
        .toogle-icon-menu { display: none; }

        > ul { 
            justify-content: flex-end;
            padding: 0 $site-padding;

            > li { 
                margin: 0 2rem 0 0; 
                padding: .5rem 0;

                a {
                    padding: .5rem 0;
                }
            }
        }
    }
}

.site-menu-wrapper {
    @include respond-to($site-width) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }
}



