<section class="news featured-news content" aria-labelledby="featured_news_header">
    <h2 id="featured_news_header" class="news-title">
        <span class="first-line">Noticias</span>
        <span class="second-line">Destacadas</span>
    </h2>

    <div class="content-list" *ngFor="let item of data">
        <article class="item" aria-labelledby="featured_item_header_1">
            <div class="item-image">
                <img src="{{item.better_featured_image.source_url}}" alt="{{item.better_featured_image.alt_text}}" />
            </div>
            <div class="item-summary">
                <time>{{item.date | date: 'MMM d, y' }}</time>
                <h3 id="featured_item_header_1" class="post-title"><a [routerLink]="['/blog/', item.id]" routerLinkActive="active">{{item.title.rendered}}</a></h3>
            </div>
        </article>
    </div>
</section>