<ng-container *ngFor="let option of sliderItem; index as i">
    <article class="profile" 
    [ngClass]="{'translate': translateFlag}"
    [style.transform]="'translate(' + width * selectedOption + 'px ,0px)'">
        <div class="summary-wrapper">
            <figure class="image"><img src="assets/images/equipo/equipo-{{option.image}}" alt="{{option.name}}" />
            </figure>
            <div class="summary">
                <h4 class="name">{{option.name}}</h4>
                <div class="position">{{option.position}}</div>
            </div>
            <div class="content-links">
                <button class="action action-primary" (click)="SiblingService.sendClick(option.chatID)">Ver más</button>
            </div>
        </div>
    </article>
</ng-container>

<!-- <div class="controls"> -->
    <div class="arrow arrowleft" (click)="step(1)">
        <img src="assets/images/svgs/arrowIcon.png" alt="left" >
    </div>
    <div class="arrow arrowright" (click)="step(-1)">
        <img src="assets/images/svgs/arrowIcon.png" alt="right" >
    </div>
<!-- </div> -->