<ng-container *ngFor="let option of sliderItem; index as i">
    <article class="profile" aria-labelledby="team_profile_1">
        <div class="summary-wrapper">
            <figure class="image"><img src="assets/images/equipo/equipo-{{option.image}}" alt="{{option.name}}" />
            </figure>
            <div class="summary">
                <h4 class="name">{{option.name}}</h4>
                <div class="position">{{option.position}}</div>
            </div>
            <div class="content-links">
                <button class="action action-primary" (click)="SiblingService.sendClick(option.name)">Ver más</button>
            </div>
        </div>
    </article>
</ng-container>

<!-- <article class="profile" aria-labelledby="team_profile_2">   
    <div class="summary-wrapper">
        <figure class="image"><img src="assets/images/equipo/equipo-diana.jpg" alt="Diana Castellanos" /></figure>
        <div class="summary">
            <h4 class="name" id="team_profile_2">Diana Castellanos</h4>
            <div class="position">Responsable de alianzas estratégicas</div>
        </div>
        <div class="content-links">
            <button class="action action-primary" (click)="SiblingService.sendClick('Diana Castellanos')">Ver más</button>
        </div>
    </div>
</article> -->