<article class="profile" aria-labelledby="team_profile_1">   
    <div class="summary-wrapper">
        <figure class="image"><img src="assets/images/equipo/equipo-sergio.jpg" alt="Sergio Alvano" /></figure>
        <div class="summary">
            <h4 class="name" id="team_profile_1">Sergio Alvano</h4>
            <div class="position">CEO</div>
        </div>
        <div class="content-links">
            <button class="action action-primary" id="team_profile_btn_1">Ver más</button>
        </div>
    </div>
</article>

<article class="profile" aria-labelledby="team_profile_2">   
    <div class="summary-wrapper">
        <figure class="image"><img src="assets/images/equipo/equipo-diana.jpg" alt="Diana Castellanos" /></figure>
        <div class="summary">
            <h4 class="name" id="team_profile_2">Diana Castellanos</h4>
            <div class="position">Responsable de alianzas estratégicas</div>
        </div>
        <div class="content-links">
            <button class="action action-primary" id="team_profile_btn_2">Ver más</button>
        </div>
    </div>
</article>

<article class="profile" aria-labelledby="team_profile_3">   
    <div class="summary-wrapper">
        <figure class="image"><img src="assets/images/equipo/equipo-fernando.jpg" alt="Fernando Fernández" /></figure>
        <div class="summary">
            <h4 class="name" id="team_profile_3">Fernando Fernández</h4>
            <div class="position">Lider de Desarrollo</div>
        </div>
        <div class="content-links">
            <button class="action action-primary" id="team_profile_btn_3">Ver más</button>
        </div>
    </div>
</article>

<article class="profile" aria-labelledby="team_profile_4">   
    <div class="summary-wrapper">
        <figure class="image"><img src="assets/images/equipo/equipo-juan.jpg" alt="Juan Antonio Blanco" /></figure>
        <div class="summary">
            <h4 class="name" id="team_profile_4">Juan Antonio Blanco</h4>
            <div class="position">Country Manager España</div>
        </div>
        <div class="content-links">
            <button class="action action-primary" id="team_profile_btn_4">Ver más</button>
        </div>
    </div>
</article>

<article class="profile" aria-labelledby="team_profile_5">   
    <div class="summary-wrapper">
        <figure class="image"><img src="assets/images/equipo/equipo-alvaro.jpg" alt="Álvaro Andrés Ortíz" /></figure>
        <div class="summary">
            <h4 class="name" id="team_profile_5">Álvaro Andrés Ortíz</h4>
            <div class="position">Country Manager Colombia</div>
        </div>
        <div class="content-links">
            <button class="action action-primary" id="team_profile_btn_5">Ver más</button>
        </div>
    </div>
</article>

<article class="profile" aria-labelledby="team_profile_5">   
    <div class="summary-wrapper">
        <figure class="image"><img src="assets/images/equipo/equipo-jonatan.jpg" alt="Jonathan Díaz" /></figure>
        <div class="summary">
            <h4 class="name" id="team_profile_5">Jonathan Díaz</h4>
            <div class="position">Country Manager Panamá</div>
        </div>
        <div class="content-links">
            <button class="action action-primary" id="team_profile_btn_6">Ver más</button>
        </div>
    </div>
</article>