<div class="wrapper-silice   {{ theme }}" id="componetchat">
    <div class="chat-widget" [@fadeInOut]="visible" [ngClass]="{'movile':isMobileResolution, 'close':visible}">
        <div class="chat-widget-header">
            <div class="chat-widget-header-logo" (click)="closeChat($event)">
                <img src="{{ avatar_cab }}" class="img-silice" />
            </div>
            <div class="chat-widget-header-name" *ngIf="  ! isMobileResolution">
                <strong>{{ texto_cab }}</strong>
                <small>Asistente virtual <strong>SILICE</strong></small>
            </div>
            <div class="chat-widget-close" *ngIf="close_able_chat &&  ! isMobileResolution" (click)="closeChat()">
                &#10006;</div>
        </div>

        <div class="chat-widget-body" #widgetBody>
            <ng-container *ngFor="let message of messages; let i = index">
                <div class="chat-message" *ngIf="message.text != '' && message.options.show">
                    <div class="message" [class.message-bot]="message.type === 'received'" [class.message-user]="message.type === 'sent'" [@fadeIn]>
                        <div class="message-photo" [class.bot]="message.type === 'received'">
                            <div class="bot" *ngIf="message.type === 'received'"></div>

                        </div>
                        <div class="message-text" *ngIf="message.tipo == 1 && message.text != ''">
                            <div style="white-space: pre-line" [innerHTML]="paserLink(message.text) " *ngIf="!esnuestro(message.text)"></div>
                        </div>

                        <div *ngIf="message.tipo == 2" [ngSwitch]="true">
                            <div class="message-image" *ngSwitchCase="
                                message.file_mime === 'image/gif' ||
                                message.file_mime === 'image/webp' ||
                                message.file_mime === 'image/png' ||
                                message.file_mime === 'image/jpg' ||
                                message.file_mime === 'image/jpeg'
                            ">
                                <img src="{{ message.text }}" />
                            </div>

                            <div *ngSwitchCase="message.file_mime === 'video/mp4'">
                                <video controls style="max-width: 100%; max-height: 400px">
                                    <source [src]="message.text" type="{{ message.file_mime }}" />
                                </video>
                            </div>

                            <div *ngSwitchCase="
                                message.file_mime === 'audio/ogg; codecs=opus' ||
                                message.file_mime === 'audio/mp3' ||
                                message.file_mime === 'audio/ogg' ||
                                message.file_mime === 'audio/mp4'
                            ">
                                <audio controls style="max-width: 100%; max-height: 400px">
                                    <source [src]="message.text" type="{{ message.file_mime }}" />
                                </audio>
                            </div>

                            <div *ngSwitchDefault>
                                <button type="button" class="btn btn-float btn-float-lg btn-outline-pink" (click)="goToLink(message.text)">
                                    <i class="fa fa-cloud-download"></i><span>Descargar Fichero<br /> </span>
                                </button>
                            </div>
                        </div>
                        <div class="message-time" [ngClass]="{'mobil':isMobileResolution}">
                            {{ message.date | date: 'h:mm a' }}
                        </div>
                    </div>
                </div>
                <ng-container>
                    <div class="button" *ngIf="message.options.button">
                        <div class="message-buttons-array action-links">
                            <div class="message-button-option action action-primary" *ngFor="let button of message.options.button" (click)="buttonMessageClick(button.accion,i + 1 == messages.length,button['hidden'])" [ngClass]="{'disabled':i + 1 != messages.length,'selectable': false}">
                                {{ button.texto }}
                            </div>
                        </div>
                    </div>
                    <div class="super-message" *ngIf="message.options.superMensaje">
                        <div class="background" [style.background-image]="'url('+ message.options.superMensaje.Image +')'"></div>
                        <div class="titulo">
                            {{message.options.superMensaje.titulo}}
                        </div>
                        <div class="contenido">
                            {{message.options.superMensaje.mensaje}}
                        </div>
                    </div>
                    <ng-container *ngIf="message.options.actions">
                        <div class="actions" *ngFor="let action of message.options.actions">
                            <a class="background" [attr.href]="action.href" [attr.target]="action.target" [style.background-image]="'url('+ action.image +')'"></a>
                        </div>
                    </ng-container>

                </ng-container>

            </ng-container>
            <div class="powered-by-silice"></div>
        </div>
        <chat-input (send)="sendMessage($event)" (dismiss)="closeChat()" (toggleAttOptions)="toggleAttOptions()" [focus]="focus" [menuPrincipal]="menuPrincipal" class="chat-widget-wrapper"></chat-input>
        <app-new-tarjeta [url]="nuestraUrl" [@slideInOut2]="menuStatet2" [deleteHandler]="ocultarTarjetas2"></app-new-tarjeta>
        <chat-footer class="chat-footer"></chat-footer>
    </div>

    <chat-adjuntos [clientChat]="client.id" (send)="sendFile($event)" class="chat-adjuntos-wrapper"></chat-adjuntos>

    <div *ngIf=" ! isMobileResolution">
        <div class="chatbubble open" #btnbubble (click)="openChat()" *ngIf="!visible && close_able_chat" [@fadeInOut]="!visible"></div>
    </div>


</div>