.chat-widget {
    --margin-chat: 5px;
    display: grid;
    grid-template-rows: -webkit-min-content 1fr 70px;
    grid-template-rows: min-content 1fr 70px;
    width: calc(100% - var(--margin-chat) * 2);
    margin: 0 calc(var(--margin-chat) );
    max-height: 100vh;
    height: 100vh;
    border-radius: 10px;
    font-family: sans-serif;
    transition: height .2s ease;
    
}
.chat-widget::-webkit-scrollbar-thumb {
    width: 10px;
}
.chat-widget::-webkit-scrollbar {
    width: 10px;
    position: absolute;
}


.chat-widget-header {
    --border-radius:30px;
    --margin-radius:20%;
    --Espacio-blanco-superior:35px;
    --transparencia-chat-widget-header:50px;
    cursor: move;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height:200px ;
    background:var(--headerBackgroundColor);
    justify-content: center;
    align-items: center;
   
    
}

.chat-widget-header:before {
    content: '';
    width: 100%;
    height: calc(100% - var(--Espacio-blanco-superior) + var(--transparencia-chat-widget-header));
    position: absolute;
    background: linear-gradient(180deg ,var(--chatBackgroundColor) 75% , hsl(0deg 0% 0% / 0%) 100%);
    bottom: 0;
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    top: var(--Espacio-blanco-superior);
    z-index: 150;
}
.chat-widget-header-logo{
    --Margin:15px;
    --size:calc(6.5vmin + 30px);
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    margin: var(--Margin);
    left: calc(50% - (var(--size) / 2) - var(--Margin) );
    top: calc(var(--Espacio-blanco-superior) - (var(--size) / 2) - var(--Margin));
    z-index: 200;
}
.chat-widget-header-logo:before {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% + var(--margin-radius));
    height: calc(100% + var(--margin-radius));
    background: var(--headerBackgroundColor);
    border: 1px solid var(--headerBackgroundColor);
    top: calc(0px - var(--margin-radius) / 2) ;
    left: calc(0px - var(--margin-radius) / 2) ;
    border-radius: 50%;
}

.chat-widget-header-logo * {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    border-radius: 50%;
    position: relative;

}

.chat-widget-header-name {
    display: flex;
    align-items: center;
    color: var(--headerTextColor);
    padding: 0px 0px 0px 10px;
    flex-direction: column;
    position: absolute;
    z-index: 200;
    top: calc( var(--Espacio-blanco-superior) + var(--border-radius) + var(--margin-radius) / 2 + var(--transparencia-chat-widget-header) / 3);
}

.chat-widget-header-name strong {
    font-size: 2em;
}
.chat-widget-header-name small{
    color: black;
}

.chat-widget-close {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: var(--headerTextColor);
    width: 40px;
    height: 100%;
    position: relative;
    z-index: 10;
}

.chat-widget-close:hover {
    cursor: pointer;
}

.options-menu {
    width: 3em;
    height: 100%;
}

.options-menu:after {
    content: ">";
    width: 100%;
    height: 100%;
    font-size: 18pt;
    font-weight: bold;
    text-shadow: 0px 2px 5px grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Móvil */

@media (max-width: 780px){
    .chat-widget{
        min-width: auto;
        max-width: 100vw;
        width: 100vw;
    }
    .chat-widget-header {
        --border-radius:30px;
        --margin-radius:20%;
        --Espacio-blanco-superior: 100%;
        height: 90px;
        background: hsl(0deg 0% 0% / 0%);

    }
    .chat-widget-header::before{
        clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 5% 30%, 4.1% 30.4%, 1.7% 33.5%, 2% 34%, 1% 40%);
        border-radius: 0px;
    }
    .chat-widget-header-logo{
        --Margin: 0px;
        --size: 75px;
        top:0px
    }
    .chat-widget-header-logo::before{
        --border-radius: 0px;
        --margin-radius: 5%;
        
    }
    .chat-widget.close{
        height: 250px;
        min-height: auto;
        max-height: 100vh;
    }

}