.chat-message {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.message {
    position: relative;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px -10px black;
}

.message.message-user {
    align-items: flex-end;
    align-self: flex-end;
    background-color: var(--main-color);
    color: hsl(0, 0%, 95%);
}

.message.message-user::before {
    right: 0;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.message.message-user .message-photo {
    right: -30px;
    background-image: url(./../../../assets/user.svg);
}

.message.message-user .message-time {
    color: hsl(0, 0%, 80%);
}

.message.message-bot {
    align-items: flex-start;
    align-self: flex-start;
    background-color: hsl(250, 13%, 91%);
    color: black;
}

.message.message-bot::before {
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.message.message-bot .message-photo {
    left: -30px;
}

.message.message-bot .message-photo .traje1,
.message.message-bot .message-photo .traje2,
.message.message-bot .message-photo .background,
.message.message-bot .message-photo .body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.message.message-bot .message-photo .traje1 {
    clip-path: polygon(10% 100%, 20% 58%, 42% 58%, 46% 100%, 53% 100%, 58% 58%, 80% 58%, 90% 100%);
    background-color: var(--suitBotColor1);
}

.message.message-bot .message-photo .traje2 {
    clip-path: polygon(30% 100%, 40% 75%, 34% 64%, 42% 58%, 47% 100%, 53% 100%, 58% 58%, 66% 64%, 60% 75%, 70% 100%);
    background-color: var(--suitBotColor2);
}

.message.message-bot .message-photo .background {
    background-color: #cbe2ffff;
}

.message.message-bot .message-photo .body {
    background-image: url(./../../../assets/BotBody.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.message.message-bot .message-time {
    color: hsl(0, 0%, 40%);
}

.message::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 15px;
    background: inherit;
    bottom: -7px;
}

.message .message-time {
    font-size: 0.6em;
    font-family: sans-serif;
    display: block;
    width: 100%;
    text-align: right;
}

.message .message-photo {
    position: absolute;
    width: 30px;
    height: 30px;
    clip-path: circle(50% at 50% 50%);
    bottom: -32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.message .message-image img {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.message .message-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message .video-message {
    box-shadow: 0px 0px 20px -10px;
    border-radius: 10px;
}

.message .video-message:focus {
    outline: none;
}